[Desktop Entry]
Type=Application
Name=wg-log
Comment=WG-Log
NoDisplay=false
Exec=/usr/bin/lxterminal -e /home/pi/Desktop/wg-log/run.sh
NotShowIn=GNOME;KDE;XFCE;
